.comment-feed {
  margin: 0 auto;
  max-width: 480px;
  padding: 1rem;
}

.comment-feed > h2 {
  font-weight: 600;
  margin: 0;
  margin-bottom: 1rem;
}

.comment-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.comment-form > label {
  margin-bottom: 1rem;
}

.comment-form span {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.comment-form input {
  width: 100%;
  font: inherit;
}

.comment-form button {
  font: inherit;
  cursor: pointer;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}

.comment-list > h3 {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}
