.Comment {
  position: relative;
  margin-bottom: 1.5rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, .12);
  border-radius: .5rem;
  padding: 1rem;
}
.Comment > h4 {
  margin-top: .25rem;
  font-size: 1.125rem;
  font-weight: 700;
}
.Comment > p {
  font-size: 1rem;
  color: rgba(0, 0, 0, .6);
}
.Comment__StarButton {
  position: absolute;
  top: .5rem;
  right: .5rem;
}
